body {
    margin: 0;
    padding: 0;
    }

.navbar {
    text-align: justify;
    background-color: green;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.main {
     margin: 5px;
     position: relative;
     top: 140px;
    }

.seccion2 {
    position: relative;
    top: 42px;
    box-sizing: content-box;
}

.box {
    border: 1px solid #808080;
    padding: 5px;
    width: 25vw;
    height: 100px;
    overflow: scroll;
    display: inline-block;
    position: absolute;
    top: 100px;
}

.box2 {
    left: 25%;
}

.box3 {
    left: 50%;
}

.box4 {
    right: 0;
}

