.section_relative {
    height: 30%;
    position: relative;
    left: 40%;
    top: 100px;
}

.section__div_absolute-1 {
    position: absolute;
}

.section__div_absolute-2 {
    position: absolute;
    bottom: 22%;
    left: 70%;
}

.section__div_img-2 {
    width: 85%;
}

